<%= form_for @brand_model, html: { class: 'form-horizontal' } do |f| %>

  <%= render 'layouts/errors', object: @brand_model %>

  <!--%= f.hidden_field :lock_version unless current_page?( action: :new ) %-->

  <div class="form-group">
    <%= f.label :brand_id, 'Automarke', class: 'col-md-2' %>
    <div class="col-md-2">
      <%= f.collection_select :brand_id, Brand.order('name ASC'), :id, :name, {}, { class: 'form-control' } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, 'Name', class: 'col-md-2' %>
    <div class="col-md-2">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-4">
      <%= link_to 'Abbrechen', brand_models_path, class: 'btn btn-default' %>
      <%= f.submit 'Speichern', class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
