<div class="page-header">
  <h1>Modelle</h1>
</div>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#filter" class="btn btn-default">Filter</a></h4>
    </div>
    <div id="filter" class="panel-collapse collapse">
      <div class="panel-body">
        <%= form_tag '', :method => :get, class: 'form-horizontal' do %>
          <div class="form-group">
            <div class="col-md-1">
              <%= label_tag :brand_id, 'Automarke' %>
            </div>
            <div class="col-md-2">
              <%= select_tag :brand_id, options_for_select(Brand.order(:name).collect { |s| [s.name, s.id] }, @filter[:brand_id]), :include_blank => true %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-4">
              <%= submit_tag 'Filter', name: nil, class: 'btn btn-default' %>
              <%= submit_tag "Zurücksetzen", name: :reset, class: 'btn btn-default' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Modelle
    <span style="margin-left: 10px;"><%= link_to image_tag('plus_16.png'), new_brand_model_path, class: 'btn btn-default' %></span>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Automarke</th>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @brand_models.each do |brand_model| %>
      <tr>
        <td><%= brand_model.brand.nil? ? '-' : brand_model.brand.name %></td>
        <td><%= brand_model.name %></td>
        <td><%= link_to image_tag('pencil_16.png'), edit_brand_model_path(brand_model), class: 'btn btn-default' %></td>
        <td><%= link_to image_tag('trash_16.png'), brand_model, method: :delete, data: {confirm: 'Sind Sie sicher?'}, class: 'btn btn-default' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @brand_models %>
</div>