<%= form_for @model_type, html: {class: 'form-horizontal'} do |f| %>
  <% if @model_type.errors.any? %>
    <div id="error_explanation">
      <h2>Bitte korrigieren Sie die Eingabe:</h2>
      <ul>
        <% @model_type.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :brand_model_id, 'Modell', class: 'col-md-2' %>
    <div class="col-md-3">
      <%= f.collection_select :brand_model_id, BrandModel.order('name ASC'), :id, :name, {}, {class: 'form-control'} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :model_type, 'Typ', class: 'col-md-2' %>
    <div class="col-md-3">
      <%= f.text_field :model_type, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :month_of_construction_period_from, 'Herstellungszeitraum von/bis', class: 'col-md-2' %>
    <div class="col-md-3">
      <%= f.select :month_of_construction_period_from, 1..12, :selected => f.object.month_of_construction_period_from, :include_blank => true %>
      <%= f.select :year_of_construction_period_from, 1900..Time.now.year, :selected => f.object.year_of_construction_period_from, :include_blank => true %>
      /
      <%= f.select :month_of_construction_period_to, 1..12, :selected => f.object.month_of_construction_period_to, :include_blank => true %>
      <%= f.select :year_of_construction_period_to, 1900..Time.now.year, :selected => f.object.year_of_construction_period_to, :include_blank => true %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-4">
      <%= link_to 'Abbrechen', model_types_path, class: 'btn btn-default' %>
      <%= f.submit 'Speichern', class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
