<div class="page-header">
  <h1>Typen</h1>
</div>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#filter" class="btn btn-default">Filter</a></h4>
    </div>
    <div id="filter" class="panel-collapse collapse">
      <div class="panel-body">
        <%= form_tag '', :method => :get, class: 'form-horizontal' do %>
          <div class="form-group">
            <%= label_tag :brand_model_id, 'Modell', class: 'col-md-1' %>
            <div class="col-md-3">
              <%= select_tag :brand_model_id, options_for_select(BrandModel.order(:name).collect { |s| [s.name, s.id] }, @filter[:brand_model_id]), :include_blank => true, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-4">
              <%= submit_tag 'Filter', name: nil, class: 'btn btn-default' %>
              <%= submit_tag "Zurücksetzen", name: :reset, class: 'btn btn-default' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Typen
    <span style="margin-left: 10px;"><%= link_to image_tag('plus_16.png'), new_model_type_path, class: 'btn btn-default' %></span>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Automarke</th>
      <th>Modell</th>
      <th>Typ</th>
      <th>von</th>
      <th>bis</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @model_types.each do |model_type| %>
      <tr>
        <td class="vertical_centered"><%= model_type.brand_model.nil? || model_type.brand_model.brand.nil? ? '-' : model_type.brand_model.brand.name %></td>
        <td class="vertical_centered"><%= model_type.brand_model.nil? ? '-' : model_type.brand_model.name %></td>
        <td class="vertical_centered"><%= model_type.model_type %></td>
        <td class="vertical_centered"><%= model_type.month_of_construction_period_from %>
          /<%= model_type.year_of_construction_period_from %></td>
        <td class="vertical_centered"><%= model_type.month_of_construction_period_to %>
          /<%= model_type.year_of_construction_period_to %></td>
        <td><%= link_to image_tag('pencil_16.png'), edit_model_type_path(model_type), class: 'btn btn-default' %></td>
        <td><%= link_to image_tag('trash_16.png'), model_type, method: :delete, data: {confirm: 'Sind Sie sicher?'}, class: 'btn btn-default' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @model_types %>
</div>