<%= form_for(@seller) do |f| %>
  <% if @seller.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seller.errors.count, "error") %> prohibited this seller from being saved:</h2>

      <ul>
      <% @seller.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name, 'Vorname' %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name, 'Nachname' %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :street, 'Strasse, Nr' %><br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :city, 'PLZ, Stadt' %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :phone, 'Telefon' %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <%= link_to 'Abbrechen', sellers_path %>
    <%= f.submit t(:save) %>
  </div>
<% end %>
