<%= form_for(@seller) do |f| %>
  <% if @seller.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seller.errors.count, "error") %> prohibited this seller from being saved:</h2>

      <ul>
      <% @seller.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:first_name) %><br>
    <%= f.text_field :firstName %>
  </div>
  <div class="field">
    <%= f.label t(:last_name) %><br>
    <%= f.text_field :lastName %>
  </div>
  <div class="field">
    <%= f.label t(:street) %><br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label t(:city) %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label t(:phone) %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <%= link_to 'Abbrechen', sellers_path %>
    <%= f.submit t(:save) %>
  </div>
<% end %>
