<h1><%= t(:sellers_list) %></h1>

<%= link_to image_tag('plus_16.png'), new_seller_path %>

<table>
  <thead>
    <tr>
      <th><%= t(:first_name) %></th>
      <th><%= t(:last_name) %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sellers.each do |seller| %>
      <tr>
        <td><%= seller.first_name %></td>
        <td><%= seller.last_name %></td>
        <td><%= link_to image_tag('pencil_16.png'), edit_seller_path(seller) %></td>
        <td><%= link_to image_tag('trash_16.png'), seller, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
