<div class="page-header">
  <h1>Verkäufer</h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Verkäufer
    <span style="margin-left: 10px;"><%= link_to image_tag('plus_16.png'), new_seller_path, class: 'btn btn-default' %></span>
  </div>
  <table class="table table-hover">
  <thead>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sellers.each do |seller| %>
      <tr>
        <td><%= seller.first_name %></td>
        <td><%= seller.last_name %></td>
        <td><%= link_to image_tag('pencil_16.png'), edit_seller_path(seller), class: 'btn btn-default' %></td>
        <td><%= link_to image_tag('trash_16.png'), seller, method: :delete, data: { confirm: 'Sind Sie sicher?' }, class: 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
  <%= paginate @sellers %>
</div>