<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @seller.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @seller.lastName %>
</p>

<p>
  <strong>Street:</strong>
  <%= @seller.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @seller.city %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @seller.phone %>
</p>

<%= link_to 'Edit', edit_seller_path(@seller) %> |
<%= link_to 'Back', sellers_path %>
