
<% if flash[ :error ] %>
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <div><strong><%= flash[ :error ] %></strong></div>
  <div><%= flash[ :error_message ] %></div>
  <div><%= flash[ :error_details ] %></div>
  <div><%= flash[ :error_stacktrace ] %></div>
</div>
<% end %>

<div class="page-header">
  <h1>Übersicht</h1>
</div>


<h2>Fahrzeugteile noch nicht online</h2>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Fahrzeug</th>
    <th>Beschreibung</th>
    <th>Artikelnummer</th>
    <th>Angebotsformat</th>
    <th>Preis</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @car_parts.each do |car_part| %>
    <tr>
      <td><%= car_part.car.nil? ? '-' : link_to( car_part.car.car_identifier, edit_car_url( car_part.car ), class: 'btn btn-default' ) %></td>
      <td><%= car_part.description %></td>
      <td><%= car_part.ebay_article_number %></td>
      <td><%= car_part.ebay_selling_type_as_string %></td>
      <td><%= number_to_currency car_part.price %></td>
      <td><%= link_to image_tag('pencil_16.png'), edit_car_part_path(car_part), class: 'btn btn-default' %></td>
      <td><%= link_to image_tag('trash_16.png'), car_part, method: :delete, data: {confirm: 'Sind Sie sicher?'} , class: 'btn btn-default'%></td>
      <td><%= link_to image_tag('ebay_16.png'), { controller: 'ebay', action: 'create', id: car_part, from_url: request.fullpath }, class: 'btn btn-default' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
