<%= form_for(@car_part) do |f| %>
  <% if @car_part.errors.any? %>
    <div id="error_explanation">
      <h2>Bitte korrigieren Sie die Eingabe:</h2>
      <ul>
        <% @car_part.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :car_id, 'Fahrzeug Id', class: 'col-md-3' %>
    <%= f.collection_select :car_id, Car.order('car_identifier ASC'), :id, :car_identifier %>
  </div>
  <div class="form-group">
    <%= f.label :description, 'Beschreibung', class: 'col-md-3' %>
    <%= f.text_area :description %>
  </div>
  <div class="form-group">
    <%= f.label :ebay_state, 'ebay Status', class: 'col-md-3' %>
    <%= f.select :ebay_state, options_for_select(CarPart::AUCTION_STATE, f.object.ebay_state) %>
    <%= f.date_select :ebay_online_since %>
  </div>
  <div class="form-group">
    <%= f.label :ebay_article_number, 'ebay Artikelnummer', class: 'col-md-3' %>
    <%= f.text_field :ebay_article_number %>
  </div>
  <div class="form-group">
    <%= f.label :ebay_selling_type, 'ebay Angebotsformat', class: 'col-md-3' %>
    <%= f.select :ebay_selling_type, options_for_select(CarPart::AUCTION_TYPES, f.object.ebay_selling_type) %>
  </div>
  <div class="form-group">
    <%= f.label :price, 'Preis', class: 'col-md-3' %>
    <%= f.text_field :price %>
  </div>
  <div class="form-group">
    <%= f.label :postage_germany, 'Versand Deutschland', class: 'col-md-3' %>
    <%= f.text_field :postage_germany %>
  </div>
  <div class="form-group">
    <%= f.label :postage_austria, 'Versand Östereich', class: 'col-md-3' %>
    <%= f.text_field :postage_austria %>
  </div>
  <div class="form-group">
    <%= f.label :postage_swiss, 'Versand Schweiz', class: 'col-md-3' %>
    <%= f.text_field :postage_swiss %>
  </div>
  <div class="form-group">
    <%= f.label :postage_europe_with_eu, 'Versand Europa EU', class: 'col-md-3' %>
    <%= f.text_field :postage_europe_with_eu %>
  </div>
  <div class="form-group">
    <%= f.label :postage_europe_without_eu, 'Versand Europa nicht EU', class: 'col-md-3' %>
    <%= f.text_field :postage_europe_without_eu %>
  </div>
  <div class="form-group">
    <%= f.label :postage_world_wide, 'Versand Weltweit', class: 'col-md-3' %>
    <%= f.text_field :postage_world_wide %>
  </div>
  <div class="form-group">
    <%= f.label :picture_url1, 'Url Bilder', class: 'col-md-3' %>
    <div class="form-group">
      <%= f.url_field :picture_url1 %>
      <%= f.url_field :picture_url2 %>
      <%= f.url_field :picture_url3 %>
    </div>
    <div class="form-group col-md-offset-3">
      <%= f.url_field :picture_url4 %>
      <%= f.url_field :picture_url5 %>
      <%= f.url_field :picture_url6 %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :remark, 'Bemerkungen', class: 'col-md-3' %>
    <%= f.text_area :remark, size: '60x5' %>
  </div>

  <div class="form-group">
    <div class="col-md-3">
      <%= link_to 'Abbrechen', car_parts_path(car_id: @car_id), class: 'btn btn-default' %>
      <%= f.submit 'Speichern', car_id: @car_id, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
