<%= form_for(@car_part, html: {class: 'form-horizontal'}) do |f| %>

    <%= render 'layouts/errors', object: @car_part %>

    <!--%= f.hidden_field :lock_version unless current_page?( action: :new ) %-->

    <div class="form-group">
      <%= f.label :car_id, 'Fahrzeug ID', class: 'col-md-3' %>
      <div class="col-md-3">
        <%= f.collection_select :car_id, Car.order('car_identifier ASC'), :id, :car_identifier, {}, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :description, 'Artikelbezeichnung', class: 'col-md-3' %>
      <div class="col-md-6">
        <%= f.text_area :description, size: '40x2', maxlength: "80", class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :part_number, 'Teilenummer', class: 'col-md-3' %>
      <div class="col-md-6">
        <%= f.text_field :part_number, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :price, 'Preis', class: 'col-md-3' %>
      <div class="col-md-2">
        <%= f.number_field :price, min: 0, max: 9999.99, step: 0.01, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :second_price, 'Preis 2', class: 'col-md-3' %>
      <div class="col-md-2">
        <%= f.number_field :second_price, min: 0, max: 9999.99, step: 0.01, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :storage_id, 'Lagerort', class: 'col-md-3' %>
      <div class="col-md-3">
        <%= f.collection_select :storage_id, Storage.order('name ASC'), :id, :name, { :include_blank => true }, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :postage_id, 'Versandarten', class: 'col-md-3' %>
      <div class="col-md-3">
        <!--%= f.collection_select :postage_id, Postage.order('name ASC'), :id, :name, { :onchange => 'postageOnChangeHandler( this )', :include_blank => true}, :class => 'form-control' %-->
        <%= select_tag :postage_id, options_from_collection_for_select(Postage.order('name ASC'), :id, :name), onchange: 'postageOnChangeHandler( this )', include_blank: true, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :postage_germany, 'Versand Deutschland', class: 'col-md-3' %>
      <div class="col-md-2">
        <%= f.number_field :postage_germany, min: 0, max: 9999.99, step: 0.01, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :postage_austria, 'Versand Östereich', class: 'col-md-3' %>
      <div class="col-md-2">
        <%= f.number_field :postage_austria, min: 0, max: 9999.99, step: 0.01, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :postage_swiss, 'Versand Schweiz', class: 'col-md-3' %>
      <div class="col-md-2">
        <%= f.number_field :postage_swiss, min: 0, max: 9999.99, step: 0.01, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :postage_europe_with_eu, 'Versand Europa EU', class: 'col-md-3' %>
      <div class="col-md-2">
        <%= f.number_field :postage_europe_with_eu, min: 0, max: 9999.99, step: 0.01, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :postage_europe_without_eu, 'Versand Europa nicht EU', class: 'col-md-3' %>
      <div class="col-md-2">
        <%= f.number_field :postage_europe_without_eu, min: 0, max: 9999.99, step: 0.01, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :postage_world_wide, 'Versand Weltweit', class: 'col-md-3' %>
      <div class="col-md-2">
        <%= f.number_field :postage_world_wide, min: 0, max: 9999.99, step: 0.01, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :picture_url1, 'Url Bilder', class: 'col-md-3' %>
      <div class="col-md-6">
        <%= f.text_field :picture_url1, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-6 col-md-offset-3">
        <%= f.text_field :picture_url2, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-6 col-md-offset-3">
        <%= f.text_field :picture_url3, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-6 col-md-offset-3">
        <%= f.text_field :picture_url4, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-6 col-md-offset-3">
        <%= f.text_field :picture_url5, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-6 col-md-offset-3">
        <%= f.text_field :picture_url6, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :ebay_shop_category, 'eBay Kategorie', class: 'col-md-3' %>
      <div class="col-md-2">
        <%= f.text_field :ebay_shop_category, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :remark, 'Notiz', class: 'col-md-3' %>
      <div class="col-md-6">
        <%= f.text_field :remark, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :ean, 'EAN', class: 'col-md-3' %>
      <div class="col-md-2">
        <%= f.text_field :ean, class: 'form-control' %>
      </div>
      <div class="col-md-3">
        <%= f.label :show_car_overview, 'Artikelübersicht ausblenden'%>
        <%= f.check_box :show_car_overview, class: 'form-control' %>
      </div>
      <div class="col-md-3">
        <%= f.label :show_car_details, 'Spenderfahrzeug ausblenden'%>
        <%= f.check_box :show_car_details, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :stock, 'Lagerhaltungsnummer', class: 'col-md-3' %>
      <div class="col-md-3">
        <%= f.text_field :stock, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :state, 'Zustand', class: 'col-md-3' %>
      <div class="col-md-4">
        <%= f.select :state, options_for_select(CarPart::STATE, f.object.state), {}, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :quantity, 'Anzahl', class: 'col-md-3' %>
      <div class="col-md-2">
        <%= f.number_field :quantity, min: 1, max: 100, step: 1, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :ebay_state, 'Status', class: 'col-md-3' %>
      <div class="col-md-2">
        <%= f.select :ebay_state, options_for_select(CarPart::AUCTION_STATE, f.object.ebay_state), {}, class: 'form-control' %>
      </div>
      <div class="col-md-3">
        <%= f.date_field :ebay_online_since, :include_blank => true, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :ebay_selling_type, 'ebay Angebotsformat', class: 'col-md-3' %>
      <div class="col-md-2">
        <%= f.select :ebay_selling_type, options_for_select(CarPart::AUCTION_TYPES, f.object.ebay_selling_type), {}, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-6">
        <%= link_to 'Abbrechen', car_parts_path(car_id: @car_id), class: 'btn btn-default' %>
        <%= f.submit 'Speichern', car_id: @car_id, class: 'btn btn-default' %>
        <%= f.submit 'Speichern & Generieren', car_id: @car_id, class: 'btn btn-default', name: 'save_and_generate' %>
      </div>
    </div>
<% end %>

<script>

    function postageOnChangeHandler(event) {
        console.log(event);
        var selectedPostageId = $(event).val();
        var requestForPostage = '/postage_for_postage_id?postage_id=' + selectedPostageId;
        $.get(requestForPostage).done(function (result) {
            result = result[0];
            //console.log(result)
            $('#car_part_postage_germany').val(result.postage_germany);
            $('#car_part_postage_austria').val(result.postage_austria);
            $('#car_part_postage_swiss').val(result.postage_swiss);
            $('#car_part_postage_europe_with_eu').val(result.postage_europe_with_eu);
            $('#car_part_postage_europe_without_eu').val(result.postage_europe_without_eu);
            $('#car_part_postage_world_wide').val(result.postage_world_wide);
        });
    }


</script>
