<div class="page-header">
  <h1>Fahrzeugteile</h1>
</div>

<% if @show_filter %>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#filter" class="btn btn-default">Filter</a></h4>
      </div>
      <div id="filter" class="panel-collapse collapse">
        <div class="panel-body">
          <%= form_tag '', :method => :get, id: :filter, class: 'form-horizontal' do %>

            <div class="form-group">
              <%= label_tag :description, 'Artikelbeschreibung', class: 'col-md-3' %>
              <div class="col-md-2">
                <%= text_field_tag :description, @view_filter[:description], class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag :part_number, 'Teilenummer', class: 'col-md-3' %>
              <div class="col-md-2">
                <%= text_field_tag :part_number, @view_filter[:part_number], class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag :ebay_selling_type, 'Angebotsformat', class: 'col-md-3' %>
              <div class="col-md-2">
                <%= select_tag :ebay_selling_type, options_for_select(CarPart::AUCTION_TYPES, @view_filter[:ebay_selling_type]), :include_blank => true, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag :ebay_state, 'Status', class: 'col-md-3' %>
              <div class="col-md-2">
                <%= select_tag :ebay_state, options_for_select(CarPart::AUCTION_STATE, @view_filter[:ebay_state]), :include_blank => true, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag :brand_id, 'Automarke', class: 'col-md-3' %>
              <div class="col-md-2">
                <%= select_tag :brand_id, options_for_select(Brand.order(:name).collect { |s| [s.name, s.id] }, @view_filter[:brand_id]), :include_blank => true, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag :brand_model_id, 'Modell', class: 'col-md-3' %>
              <div class="col-md-2">
                <%= select_tag :brand_model_id, options_for_select(BrandModel.order(:name).collect { |s| [s.name, s.id] }, @view_filter[:brand_model_id]), :include_blank => true, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag :model_type_id, 'Typ', class: 'col-md-3' %>
              <div class="col-md-2">
                <%= text_field_tag :model_type_id, @view_filter[:model_type_id], class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <%= label_tag :color_code, 'Farb-Code', class: 'col-md-3' %>
              <div class="col-md-2">
                <%= text_field_tag :color_code, @view_filter[:color_code], class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <%= label_tag :engine_code, 'Motor-Code', class: 'col-md-3' %>
              <div class="col-md-2">
                <%= text_field_tag :engine_code, @view_filter[:engine_code], class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <%= label_tag :power, 'kW oder PS', class: 'col-md-3' %>
              <div class="col-md-2">
                <%= number_field_tag :power, @view_filter[:power], class: 'form-control' %>
              </div>
              <div class="col-md-2">
                <%= number_field_tag :ps, @view_filter[:ps], class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag :year_of_construction, 'Konstruktionsjahr', class: 'col-md-3' %>
              <div class="col-md-2">
                <%= select_tag :year_of_construction, options_for_select(1900..Time.now.year, @view_filter[:year_of_construction]), :include_blank => true, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag :cylinder_capacity, 'Hubraum', class: 'col-md-3' %>
              <div class="col-md-2">
                <%= number_field_tag :cylinder_capacity, @view_filter[:cylinder_capacity], class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag :fuel, 'Kraftstoff', class: 'col-md-3' %>
              <div class="col-md-2">
                <%= select_tag :fuel, options_for_select(Car::FUEL_TYPES, @view_filter[:fuel]), :include_blank => true, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag :gearing, 'Getriebeart', class: 'col-md-3' %>
              <div class="col-md-2">
                <%= select_tag :gearing, options_for_select(Car::GEARING_TYPES, @view_filter[:gearing]), :include_blank => true, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag :key_number2, 'Schlüsselnummer 2/3', class: 'col-md-3' %>
              <div class="col-md-2">
                <%= text_field_tag :key_number2, @view_filter[:key_number2], class: 'form-control' %>
              </div>
              <div class="col-md-2">
                <%= text_field_tag :key_number3, @view_filter[:key_number3], class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-4">
                <%= submit_tag 'Filter', name: nil, class: 'btn btn-default' %>
                <%= submit_tag "Zurücksetzen", name: :reset, class: 'btn btn-default' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= form_tag '', :method => :get, id: :paging_count, class: 'form-horizontal' do %>
      <div class="form-group" style="margin-bottom: 0px;">
        <div class="col-md-1" style="margin-top: 5px;">Fahrzeugteile</div>
        <div class="col-md-1" style="margin-left: 10px;"><%= link_to image_tag('plus_16.png'), new_car_part_path, class: 'btn btn-default' %></div>
        <div class="col-md-2"><%= select_tag :limit, options_for_select([25, 50, 100, 200], selected: params[:limit] || 25), onchange: 'limitOnChangeHandler( this )', class: 'form-control col-md-1' %></div>
      </div>
    <% end %>

  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Status</th>
      <th>Fahrzeug</th>
      <th>Beschreibung</th>
      <th>Preis</th>
      <th>Teilenummer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @car_parts.each do |car_part| %>
      <tr>
        <td><%= image_tag("ball_#{car_part.ebay_state}.png", ondblclick: 'stateOnDoubleClickHandler( this )', 'data-id' => "#{car_part.id}", 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => "#{car_part.state_as_string}") %> </td>
        <td><%= car_part.car.nil? ? '-' : link_to(car_part.car.car_identifier, edit_car_url(car_part.car), class: 'btn btn-default') %></td>
        <td class="vertical_centered"><%= car_part.description.truncate(60, omission: '...') %></td>
        <td class="vertical_centered"><%= number_to_currency car_part.price %></td>
        <td class="vertical_centered"><%= car_part.part_number %></td>
        <td><%= link_to image_tag('ebay_16.png'), {controller: 'ebay', action: 'create', id: car_part, from_url: request.fullpath}, class: 'btn btn-default' %></td>
        <td><%= link_to image_tag('pencil_16.png'), edit_car_part_path(car_part), class: 'btn btn-default' %></td>
        <td><%= link_to image_tag('trash_16.png'), car_part, method: :delete, data: {confirm: 'Sind Sie sicher?'}, class: 'btn btn-default' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @car_parts %>
</div>

<%= javascript_tag do %>

  var image_urls = [
    '<%= image_tag "ball_0.png" %>',
    '<%= image_tag "ball_1.png" %>',
    '<%= image_tag "ball_2.png" %>',
    '<%= image_tag "ball_3.png" %>'
  ];

  console.log( image_urls );

  function limitOnChangeHandler(element) {
    $('#paging_count').submit();
  }

  function stateOnDoubleClickHandler(element) {
    var imageTag = $(element);
    var car_part_id = imageTag.attr('data-id');
    var requestForState = '/toggle_car_part_state?car_part_id=' + car_part_id;
    $.get(requestForState).done(function (result) {
      var srcOfImageTag = imageTag.attr('src');
      element.src = ''; //otherwise the browser does not always load the new image
      var image_tag_for_state = image_urls[ result.state ];
      element.src = image_tag_for_state.split('src="')[ 1 ].split( '"' )[ 0 ];
      element.title = result.state_as_string;
      element.alt = result.state_as_string;
    });
  }

<% end %>
