<div class="page-header">
  <h1>Automarken</h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Automarken
    <span style="margin-left: 10px;"><%= link_to image_tag('plus_16.png'), new_brand_path, class: 'btn btn-default' %></span>
  </div>
  <table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td class="vertical_centered"><%= brand.name %></td>
        <td><%= link_to image_tag('pencil_16.png'), edit_brand_path(brand), class: 'btn btn-default' %></td>
        <td><%= link_to image_tag('trash_16.png'), brand, method: :delete, data: { confirm: 'Sind Sie sicher?' }, class: 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
  <%= paginate @brands %>
</div>


