<%= form_for(@car) do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Verkäufer' %><br>
    <%= f.collection_select :seller_id, Seller.order('last_name ASC'), :id, :last_name  %>
  </div>
  <div class="field">
    <%= f.label 'Identifizierungsnummer' %><br>
    <%= f.text_field :car_identifier %>
  </div>
  <div class="field">
    <%= f.label 'Hersteller' %><br>
    <%= select_tag '', options_from_collection_for_select( Brand.order('name ASC'), :id, :name ) %>
  </div>
  <div class="field">
    <%= f.label 'Modell' %><br>
    <%= f.collection_select :brand_model_id, BrandModel.order('name ASC'), :id, :name  %>
  </div>
  <div class="field">
    <%= f.label :car_type %><br>
    <%= f.text_field :car_type %>
  </div>
  <div class="field">
    <%= f.label 'PS' %><br>
    <%= f.text_field :power %>
  </div>
  <div class="field">
    <%= f.label 'Konstruktionsjahr' %><br>
    <%= f.select :year_of_construction, 1900..Time.now.year, :selected => f.object.year_of_construction %>
  </div>
  <div class="field">
    <%= f.label 'Herstellungszeitraum von/bis' %><br>
    <%= f.select :construction_period_from, 1900..Time.now.year, :selected => f.object.construction_period_from %>
    <%= f.select :construction_period_to, 1900..Time.now.year, :selected => f.object.construction_period_to %>
  </div>
  <div class="field">
    <%= f.label 'Hubraum in ccm' %><br>
    <%= f.number_field :cylinder_capacity %>
  </div>
  <div class="field">
    <%= f.label 'Kraftstoff' %><br>
    <%= f.select :fuel, options_for_select( Car::FUEL_TYPES ), :selected => f.object.fuel %>
  </div>
  <div class="field">
    <%= f.label 'Getriebe' %><br>
    <%= f.select :gearing, options_for_select( Car::GEARING_TYPES ), :selected => f.object.gearing %>
  </div>
  <div class="field">
    <%= f.label :key_number2 %><br>
    <%= f.text_field :key_number2 %>
  </div>
  <div class="field">
    <%= f.label :key_number3 %><br>
    <%= f.text_field :key_number3 %>
  </div>
  <div class="field">
    <%= f.label 'Kilometerstand' %><br>
    <%= f.number_field :mileage %>
  </div>
  <div class="field">
    <%= f.label 'Bild' %><br>
    <%= f.text_field :picture_url%>
  </div>
  <div class="actions">
    <%= link_to 'Abbrechen', cars_path %>
    <%= f.submit t(:save) %>
  </div>
<% end %>
