<%= form_for(@car) do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Identifizierungsnummer' %><br>
    <%= f.text_field :carId %>
  </div>
  <div class="field">
    <%= f.label 'Hersteller' %><br>
    <%= f.collection_select :brand_id, Brand.order('name ASC'), :id, :name %>
  </div>
  <div class="field">
    <%= f.label 'Modell' %><br>
    <%= f.collection_select :model, BrandModel.order('name ASC'), :id, :name  %>
  </div>
  <div class="field">
    <%= f.label :carType %><br>
    <%= f.text_field :carType %>
  </div>
  <div class="field">
    <%= f.label 'PS' %><br>
    <%= f.text_field :power %>
  </div>
  <div class="field">
    <%= f.label 'Konstruktionsjahr' %><br>
    <%= f.select :yearOfConstruction, 1900..Time.now.year, :selected => f.object.yearOfConstruction %>
  </div>
  <div class="field">
    <%= f.label 'Herstellungszeitraum von/bis' %><br>
    <%= f.select :constructionPeriodFrom, 1900..Time.now.year, :selected => f.object.constructionPeriodFrom %>
    <%= f.select :constructionPeriodTo, 1900..Time.now.year, :selected => f.object.constructionPeriodTo %>
  </div>
  <div class="field">
    <%= f.label 'Hubraum in ccm' %><br>
    <%= f.number_field :cylinderCapacity %>
  </div>
  <div class="field">
    <%= f.label 'Kraftstoff' %><br>
    <%= f.select :fuel, options_for_select( Car::FUEL_TYPES ), :selected => f.object.fuel %>
  </div>
  <div class="field">
    <%= f.label 'Getriebe' %><br>
    <%= f.select :gearing, options_for_select( Car::GEARING_TYPES ), :selected => f.object.gearing %>
  </div>
  <div class="field">
    <%= f.label :keyNumber2 %><br>
    <%= f.text_field :keyNumber2 %>
  </div>
  <div class="field">
    <%= f.label :keyNumber3 %><br>
    <%= f.text_field :keyNumber3 %>
  </div>
  <div class="field">
    <%= f.label 'Kilometerstand' %><br>
    <%= f.number_field :mileage %>
  </div>
  <div class="actions">
    <%= link_to 'Abbrechen', cars_path %>
    <%= f.submit t(:save) %>
  </div>
<% end %>
