<h1>Fahrzeuge</h1>

<%= link_to image_tag('plus_16.png'), new_car_path %>

<table>
  <thead>
    <tr>
      <th>Carid</th>
      <th>Automarke</th>
      <th>Model</th>
      <th>Cartype</th>
      <th>PS</th>
      <th>Konstruktionsjahr</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.carId %></td>
        <td><%= car.brand_id %></td>
        <td><%= car.model %></td>
        <td><%= car.carType %></td>
        <td><%= car.power %></td>
        <td><%= car.yearOfConstruction %></td>
        <td><%= link_to image_tag('pencil_16.png'), edit_car_path(car) %></td>
        <td><%= link_to image_tag('trash_16.png'), car, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

