<div class="page-header">
  <h1>Fahrzeuge</h1>
</div>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#filter" class="btn btn-default">Filter</a></h4>
    </div>
    <div id="filter" class="panel-collapse collapse">
      <div class="panel-body">
        <%= form_tag '', :method => :get, id: :filter, class: 'form-horizontal' do %>

          <div class="form-group">
            <div class="col-md-2">
              <%= label_tag :brand_id, 'Automarke', class: 'form-control' %>
            </div>
            <div class="col-md-2">
              <%= select_tag :brand_id, options_for_select(Brand.order(:name).collect { |s| [s.name, s.id] }, @view_filter[:brand_id]), :include_blank => true, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-2">
              <%= label_tag :brand_model_id, 'Modell', class: 'form-control' %>
            </div>
            <div class="col-md-2">
              <%= select_tag :brand_model_id, options_for_select(BrandModel.order(:name).collect { |s| [s.name, s.id] }, @view_filter[:brand_model_id]), :include_blank => true, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-2">
              <%= label_tag :car_type, 'Typ', class: 'form-control' %>
            </div>
            <div class="col-md-2">
              <%= text_field_tag :car_type, @view_filter[:car_type], class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-2">
              <%= label_tag :power, 'kW oder PS', class: 'form-control' %>
            </div>
            <div class="col-md-2">
              <%= number_field_tag :power, @view_filter[:power], class: 'form-control' %>
              <%= number_field_tag :ps, @view_filter[:ps], class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-2">
              <%= label_tag :year_of_construction, 'Konstruktionsjahr', class: 'form-control' %>
            </div>
            <div class="col-md-2">
              <%= select_tag :year_of_construction, options_for_select(1900..Time.now.year, @view_filter[:year_of_construction]), :include_blank => true, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-2">
              <%= label_tag :cylinder_capacity, 'Hubraum', class: 'form-control' %>
            </div>
            <div class="col-md-2">
              <%= number_field_tag :cylinder_capacity, @view_filter[:cylinder_capacity], class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-2">
              <%= label_tag :fuel, 'Kraftstoff', class: 'form-control' %>
            </div>
            <div class="col-md-2">
              <%= select_tag :fuel, options_for_select(Car::FUEL_TYPES, @view_filter[:fuel]), :include_blank => true, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-2">
              <%= label_tag :gearing, 'Getriebeart', class: 'form-control' %>
            </div>
            <div class="col-md-2">
              <%= select_tag :gearing, options_for_select(Car::GEARING_TYPES, @view_filter[:gearing]), :include_blank => true, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-2">
              <%= label_tag :key_number2, 'Schlüsselnummer 2/3', class: 'form-control' %>
            </div>
            <div class="col-md-2">
              <%= text_field_tag :key_number2, @view_filter[:key_number2], class: 'form-control' %>
              <%= text_field_tag :key_number3, @view_filter[:key_number3], class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-4">
              <%= submit_tag 'Filter', name: nil, class: 'btn btn-default' %>
              <%= submit_tag "Zurücksetzen", name: :reset, class: 'btn btn-default' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Fahrzeuge
    <span style="margin-left: 10px;"><%= link_to image_tag('plus_16.png'), new_car_path, class: 'btn btn-default' %></span>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>Identifikation</th>
      <th>Model</th>
      <th>Typ</th>
      <th>kW</th>
      <th>Konstruktionsjahr</th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.car_identifier %></td>
        <td><%= car.brand_model.name %></td>
        <td><%= car.car_type %></td>
        <td><%= car.power %></td>
        <td><%= "#{car.month_of_construction}/#{car.year_of_construction}" %></td>
        <td><%= link_to image_tag('pencil_16.png'), edit_car_path(car), class: 'btn btn-default' %></td>
        <td><%= link_to image_tag('trash_16.png'), car, method: :delete, data: {confirm: 'Sind Sie sicher?'}, class: 'btn btn-default' %></td>
        <td><%= link_to image_tag('right_16.png'), car_parts_path(:carId => car.id), class: 'btn btn-default' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>



