<p id="notice"><%= notice %></p>

<p>
  <strong>CarId:</strong>
  <%= @car.carId %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @car.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Type:</strong>
  <%= @car.type %>
</p>

<p>
  <strong>Power:</strong>
  <%= @car.power %>
</p>

<p>
  <strong>Yearofconstruction:</strong>
  <%= @car.yearOfConstruction %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @car.integer %>
</p>

<p>
  <strong>Constructionperiod:</strong>
  <%= @car.constructionPeriod %>
</p>

<p>
  <strong>Cylindercapacity:</strong>
  <%= @car.cylinderCapacity %>
</p>

<p>
  <strong>Fuel:</strong>
  <%= @car.fuel %>
</p>

<p>
  <strong>Gearing:</strong>
  <%= @car.gearing %>
</p>

<p>
  <strong>Keynumber2:</strong>
  <%= @car.keyNumber2 %>
</p>

<p>
  <strong>Keynumber3:</strong>
  <%= @car.keyNumber3 %>
</p>

<p>
  <strong>Mileage:</strong>
  <%= @car.mileage %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
