<!DOCTYPE html>
<html>
<head>
  <title>CarParSel</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<div id="logo">
  <%= link_to image_tag( "carparsel_logo.png" ), start_overview_url %>
  <%= link_to image_tag( "customer_logo.jpg" ), "https://www.facebook.com/EurafGmbH" %>
</div>

<%= yield %>

</body>
</html>
