<%= form_for(@parameter, html: {class: 'form-horizontal'}) do |f| %>

    <%= render 'layouts/errors', object: @parameter %>

    <div class="form-group">
      <%= f.label :name, 'Name', class: 'col-md-3' %>
      <div class="col-md-3">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :value, 'Wert', class: 'col-md-3' %>
      <div class="col-md-3">
        <%= f.text_field :value, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :description, 'Beschreibung', class: 'col-md-3' %>
      <div class="col-md-6">
        <%= f.text_area :description, size: '80x5', class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= link_to 'Abbrechen', parameters_path, class: 'btn btn-default' %>
      <%= f.submit 'Speichern', class: 'btn btn-default' %>
    </div>
<% end %>